[include]
  path = .gitconfig_user
  path = .gitconfig_os

[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[core]
  excludesfile = ~/.gitignore_global
  autocrlf = false
  precomposeunicode = true
  quotepath = false

[push]
  default = simple
