
/.lesshst

/.vim/bundle/**
/.vim/.netrwhist
/.vim/.swp
/.vim/.viminfo
/.vim/.viminfo.tmp

/.zsh/.zcompdump
/.zsh/.zsh_history

/.atom/.apm/
/.atom/.node-gyp/
/.atom/compile-cache/
/.atom/npm-debug.log
/.atom/packages/
/.atom/projects.cson
/.atom/storage/
